.video-container{
    height: 80vh;
    border-radius: 20px;;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    width: 30vw;
    border: 2px solid black;
}

.video-container::-webkit-scrollbar{
    display: none;
}
.videos{
    position: relative;
}

.fa{
    position: absolute;
    bottom:6%;
    left: 5%;
}

.fa h4{
    color: black;
    margin-top:9%;
    margin-left: 4%;
}

.icon-styling{
    position: absolute;
    bottom: 3%;
    left: 6%;
}

.like{
    cursor: pointer;
    color: #e74c3c;
}

.unlike{
    cursor: pointer;
    color: black;
}

.chat-styling{
    position: absolute;
    bottom: 3%;
    color: black;
    left: 13%;
}

.modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.video-modal{
    width: 50%;
    height: 100%;
}

.video-modal video{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 91vh;
    width: 100%;
}

.comment-modal{
    width: 50%;
    height: 100%;
}

.card1{
    height:72vh;
}